
body {
    font-family: 'Roboto Slab', serif;
}

.input {
    float: right;
}

.input-option {
    float: right;
    font-weight:bold;
    text-align: right;
}

.input-list {
    float: right;
    font-weight:bold;
    text-align: right;
}

.input-select {
    float: right;
    font-weight:bold;
    text-align: right;
}

.logo {
    height: auto; 
    width: auto; 
    max-width: 128px; 
    max-height: 128px;
    float: right;
}
.wallpaper {
    height: auto; 
    width: auto; 
    max-width: 100%; 
}



