import url("milligram.min.css");

body {
    font-family: 'Roboto Slab', serif;
}

/* Extending The Inheritances */

/* Custom color */
.button-black {
    background-color: black;
    border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: black;
}
.button-black.button-clear {
    border-color: transparent;
}

/* Custom size */
.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}


.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
}


.button-right {
    float: right;
}

.buton-left {
    float: left;
}

.button-delete {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
    float: right;
}


.input {
    float: left;
}


.magnifying-glass {
    height: auto; 
    width: auto; 
    max-width: 32px; 
    max-height: 32px;
    float: left;
}

.logo-foogle {
    height: auto; 
    width: auto; 
    max-width: 64px; 
    max-height: 64px;
    float: left;
}

.input-option {
    font-weight:bold;
    text-align: right;
}

.input-list {
    font-weight:bold;
}
